<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">              
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
  aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand">Konferencia XY</a>

  <div class=" collapse navbar-collapse container-fluid" id="navbarTogglerDemo03" >
      <ul class="navbar-nav mr-auto ">
          <li class="nav-item">
              <a class="nav-link" href="/">Domov</a>
          </li>
      </ul>
      <ul class="navbar-nav  navbar-right ">
          <li class="nav-item active">
              <a class="nav-link" href="register"><span class="fas fa-user-plus"></span>Registracia</a>
          </li>
          


      </ul>

  </div>
   
</nav>
<br>
<br>


<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Registracia
      </h1>
      <%- include('./partials/messages.ejs'); -%>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Meno a priezvisko:</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Meno Priezvisko"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email@Email.com"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Heslo:</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Heslo"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Overenie Hesla:</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Overenie Hesla"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Registrovat sa
        </button>
      </form>
      <p class="lead mt-4"><b>Ste už zaregistrovaný?</b> <a href="/users/login"><b>Prihlasite sa</b></a></p>
    </div>
  </div>
</div>